.swz-vis-clearfix {
  border: 0 !important;

  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.swz-vis-trans {
  transition: max-height 0.3s;
  will-change: max-height;
}
.swz-vis-hidden {
  max-height: 0;
  overflow: hidden;
}
