.swz-vis-clearfix {
  border: 0 !important;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.swz-vis-trans {
  transition: max-height 0.3s;
  will-change: max-height;
  transform: translateZ(0);
}
