.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-1-hidden {
  @extend.flex-1;
  @extend.overflow-hidden;
}

.flex-1-auto {
  @extend.flex-1;
  @extend.overflow-auto;
}

.flex-1-overlay {
  @extend.flex-1;
  @extend.overflow-overlay;
}

.flex-column {
  @extend.flex;
  @extend.flex-direction-column;
  height: 100%;
}

.flex-row {
  @extend.flex;
  @extend.between-center;
}

.between-center {
  @extend.justify-between;
  @extend.align-center;
}

.center-center {
  @extend.justify-center;
  @extend.align-center;
}

$align: start, center, end, between, around, evenly;

@each $item in $align {
  .justify-#{$item} {

    @if $item ==between or $item ==evenly or $item ==around {
      justify-content: #{'space-'+$item};
    }

    @else {
      justify-content: #{$item};
    }
  }

  .align-#{$item} {

    @if $item ==center {
      align-items: #{$item};
    }

    @else if $item ==between or $item ==evenly or $item ==around {
      align-items: #{'space-'+$item};
    }

    @else {
      align-items: #{'flex-'+$item};
    }
  }
}