.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-1-hidden {
  @extend.flex-1;
  @extend.overflow-hidden;
}

.flex-column {
  @extend.flex;
  @extend.flex-direction-column;
}

$align: start, center, end, between, around, evenly;

@each $item in $align {
  .justify-#{$item} {
    @if$item ==center {
      justify-content: #{$item};
    }

    @else if $item ==between or $item ==evenly or $item ==around {
      justify-content: #{'space-'+$item};
    }

    @else {
      justify-content: #{'flex-'+$item};
    }
  }

  .align-#{$item} {

    @if $item ==center {
      align-items: #{$item};
    }

    @else if $item ==between or $item ==evenly or $item ==around {
      align-items: #{'space-'+$item};
    }

    @else {
      align-items: #{'flex-'+$item};
    }
  }
}