.swz-vis-clearfix {
  border: 0 !important;
  overflow: hidden;
}

.swz-vis-trans {
  transition: max-height 0.17s ease-in-out;
  transform: translateZ(0);
  will-change: max-height;
}

.wp-block-stackable-column.stk-block-column.stk-column.stk-block.stk-block-background {
  position: relative;
}
.stk-row.stk-inner-blocks.stk-block-content.stk-content-align
  > .wp-block-stackable-column.stk-block-column.stk-column.stk-block.stk-block-background:not(
    :only-of-type
  )
  > ::after {
  --color: #0033d0;
  --width: 15px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 0;
  height: 0;
  border-color: transparent var(--color);
  border-style: solid;
  border-width: 0 var(--width) var(--width) 0;
}
