// color
$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;
$dark-fill: #ebedf0;
$black: #000;
$white: #fff;

$tiga: #4459ff;
$vite: #646cff;
$vue: rgb(16, 185, 129);
$react: #61dafb;

// gradient
$img-sprite: linear-gradient(90deg, #00f260, #0575e6);
$img-dazzling: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
$img-orange: linear-gradient(90deg, #fdc830, #f37335);

// shadow
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
